*{
    margin:0%;
    padding: 0%;
    color:#ffffff;
    font-family: 'Montserrat';
    background-color: rgba(29, 8, 68, 1);
}

.dashboard {
    margin:0%;
    background-color: rgba(29, 8, 68, 1);
    font-family: 'Montserrat';
    width: auto;
}

.searchbar {
    z-index: 2;
    position: relative;
}



.nav {
    z-index: 1;
    position: relative;
    font-family: 'Montserrat';
}

.posts-list {
    padding-top: 5rem;
    display: flex;
    padding-left: 25rem;
    justify-content: center;
    flex-direction: column;
    width: 39rem;
}

.heart-button {
    background:none;
}

#artist-post {
    padding: 5rem;
    padding-left: 27rem;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

@media (max-width: 26.875rem) {
    
    .artist-post {
        justify-content: center;
        flex-direction: column;
        display: flex;
        padding-right: 50rem;
        margin-right: 50rem;
    }
}