.imgperfil{
    padding-top: 0.5rem;
    height: 30px;
    width: 30px;
   margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    border-radius: 50% 50% 50% 50%;
    margin-bottom: 1rem;

}
.post{
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    height: 52rem;
    width: 40rem;
    background-color: rgba(55, 16, 129, 1);
    color: black;
    margin-bottom: 3rem;
}

.img2{
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;  
height: 35rem;
width: 37rem;
margin-left: 1.5rem;
}
#perfilinfo{
    color: #ffffff;

   display: flex;
   justify-content: row;
}
.info{
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 37rem;
    margin-left: 1.5rem;
    background-color: #ffffff;
}
.espacio{
    height: 80rem;
}
.encabezado{
    margin-top: 0.5rem;
    gap: 1rem;
    display: flex;
    justify-content: row;
}
.heart-button{
    background:none;
    border: none;
}

