*{
    margin:0%;
    padding: 0%;
    color:#ffffff;
    font-family: 'Montserrat';
    background-color: rgba(29, 8, 68, 1);
}

.profile {
    margin:0%;
    background-color: rgba(29, 8, 68, 1);
    font-family: 'Montserrat';
}

.searchbar {
    z-index: 2;
    position: relative;
}

.nav {
    z-index: 1;
    position: relative;
    font-family: 'Montserrat';
}

.profile-info {
    padding-top: 5rem;
    display: flex;
    padding-left: 25rem;
    justify-content: center;
    flex-direction: column;
    width: 39rem;
}

#photo-container {
    border-radius: 1.5rem;
    height: auto;
    width: 25rem;
    background-color: rgba(55, 16, 129, 1);
    color: black;
    margin-bottom: 3rem;
    margin-left: 5rem;
    overflow: hidden;
}

.cover-image {
    border-radius: 1.5rem;
    height: 20rem;
    width: 100%;
    margin-left: 0;
    object-fit: cover;
}

.heart-button {
    background:none;
}

@media (max-width: 26.875rem) {
    
    .posts-container {
        justify-content: center;
        flex-direction: column;
        display: flex;
        padding-left: 0rem;
        padding-right: 1rem;
    }
}