*{
    margin: 0%;
}
.login{
    background: linear-gradient(to bottom,
    #240d4e 40%,
    #551bc2 );
    height: 42.4rem;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 0rem 20rem 10rem 20rem;
}