.maincontainer {
   background-color:  rgba(29, 8, 68, 1);
    padding-top: 10rem;
height: 35rem;
padding-left: 25rem;


}   
.edit-profile-container {
    background-color: #551BC280;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5rem 5rem 0.5rem 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    display: flex;
    height: 20rem;
    width: 35rem;
    
}

input::placeholder {
    color: #A676FF;
    opacity: 0.5;
}

.save-button {
    background-color: #00ECC1;
    color:#551BC2;
    font-weight: 800;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5rem 5rem 0.5rem 5rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    flex-direction: column;

}