
.maincontainer {
    background-color:  rgba(29, 8, 68, 1);
    padding-top: 15rem;
    height: 35rem;
    padding-left: 25rem;
}   

.edit-profile-container {
    background-color: #551BC280;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 3rem 2rem 2rem 3rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    display: flex;
    height: 7rem;
    width: 35rem;
}

input::placeholder {
    color: #A676FF;
    opacity: 0.5;
}

.save-button {
    background-color: #00ECC1;
    color:#551BC2;
    font-weight: 800;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5rem 5rem 0.5rem 5rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    flex-direction: column;
}

.input {
    background-color: #551BC280;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5rem 5rem 0.5rem 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    margin: 1rem 1rem 1rem 1rem;
}

@media (max-width: 26.875rem) {

    .maincontainer {
        margin-bottom: -10rem;
        padding: 0;
    }

    .edit-profile-container {
        padding-top: 5rem;
    }
}