*{
    margin:0%;
    padding: 0%;
    color:#ffffff;
    font-family: sans-serif;
    background-color: rgba(29, 8, 68, 1);
    height: 20rem;

}

.body{
    margin:0%;
    background-color: rgba(29, 8, 68, 1);
}
.searchbar{
    z-index: 2;
}
.nav{
    z-index: 1;
}