*{
    margin:0%;
    padding: 0%;
    color:#ffffff;
    font-family: sans-serif;
    background-color: rgba(29, 8, 68, 1);
}

.body{
    margin:0%;
    background-color: rgba(29, 8, 68, 1);
}

.searchbar{
    z-index: 2;
    position: relative;
}

.nav{
    z-index: 1;
    position: relative;
}

.posts-container{
    padding-top: 5rem;
    display: flex;
    padding-left: 25rem;
    justify-content: center;
    flex-direction: column;
    width: 39rem;
}

.heart-button{
    background:none;
}

@media (max-width: 26.875rem) {
    
    .posts-container {
        justify-content: center;
        flex-direction: column;
        display: flex;
        padding-left: 0rem;
        padding-right: 1rem;
    }
}

