.body {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 40rem;
    margin-left: 25rem;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    position: fixed;
    bottom: 0;
    background-color:rgba(85, 27, 194, 1);
}

.item{
    background: none;
    color: #ffffff;
    border: none;
    margin-top: 0.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.6rem;
}

@media (max-width: 26.875rem) {

    .body {
        height: 5rem;
        width: 40rem;
        margin-left: 0rem;
    }

    .items {
        padding-top: 0.3rem;
        margin-right: 0.1rem;
    }

    .item {
        font: weight 5rem;
        font-size: 0.7rem;
        margin-right: 0rem;
    }

}