.body {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 55rem;
    margin-left: 17rem; /* 17rem -> 10.625rem */
    border-radius: 1.25rem 1.25rem 0 0; /* 20px -> 1.25rem */
    position: fixed;
    bottom: 0;
    background-color: #551bc2;
}

.item {
    background: none;
    color: #ffffff;
    border: none;
    margin-top: 1rem;
    padding-left: 3rem; /* 3rem -> 1.875rem */
    padding-right: 3rem; /* 3rem -> 1.875rem */
    padding-top: 0.6rem; /* 0.6rem -> 0.375rem */
}
