*{
    margin:0%;
    padding: 0%;
    color:#ffffff;
    font-family: 'Montserrat';
    background-color: rgba(29, 8, 68, 1);
}

.body{
    margin:0%;
    background-color: rgba(29, 8, 68, 1);
    font-family: 'Montserrat';
}

.searchbar{
    z-index: 2;
    position: relative;
}

.nav{
    z-index: 1;
    position: relative;
    font-family: 'Montserrat';
}

.posts-container{
    padding-top: 5rem;
    display: flex;
    padding-left: 25rem;
    justify-content: center;
    flex-direction: column;
    width: 39rem;
}

.heart-button{
    background:none;
}

/* Estilos para el input de tipo file */
#coverimg-input {
    display: none; /* Ocultar el input real */
}

/* Botón personalizado para el input de archivo */
.custom-file-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.custom-file-button:hover {
    background-color: #0056b3;
}

/* Imagen de vista previa */
#postImg {
    max-width: 100%;
    margin-top: 10px;
}

@media (max-width: 26.875rem) {
    
    .posts-container {
        justify-content: center;
        flex-direction: column;
        display: flex;
        padding-left: 0rem;
        padding-right: 1rem;
    }
}
